@model AppointmentDetailsViewModel

@{ ViewBag.Title = "Visualizar Agendamento";}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Lista de Agendamentos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Visualizar Agendamento</li>
                </ol>
            </nav><br /><br />
            <form method="post" enctype="multipart/form-data" asp-action="Create">
                <div class="form-row text-center">
                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="TechnicianId"></label>
                            <input asp-for="TechnicianId" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="TechnicianName"></label>
                            <input asp-for="TechnicianName" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                        <div style="display:flex" class="col-md-3 form-group">
                            <div style="width:100%">
                                <label asp-for="Completed"></label>
                                <span class="form-control" readonly style=" background-color: #E9ECEF">
                                    @if (Model.Completed)
                                    {
                                        <span class="text-success font-weight-bold">Finalizado</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-bold">Em andamento</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>

                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="AppointmentName"></label>
                            <input asp-for="AppointmentName" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="StartDate"></label>
                            <input asp-for="StartDate" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="ExpectedFinalDate"></label>
                            <input asp-for="ExpectedFinalDate" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                    @if (!Model.Completed)
                    {
                        <div style="display:flex" class="col-md-3 form-group">
                            <div style="width:100%">
                                <label asp-for="RealFinalDate"></label>
                                <input class="form-control" readonly style=" background-color: #E9ECEF" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="display:flex" class="col-md-3 form-group">
                            <div style="width:100%">
                                <label asp-for="RealFinalDate"></label>
                                <input asp-for="RealFinalDate" class="form-control" readonly style=" background-color: #E9ECEF" />
                            </div>
                        </div>
                    }



                </div>

                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="Postcode"></label>
                            <input id="postcodeForm" asp-for="Postcode" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="Address"></label>
                            <input id="address" asp-for="Address" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="Number"></label>
                            <input asp-for="Number" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="City"></label>
                            <input id="city" asp-for="City" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-1 form-group">
                        <div style="width:100%">
                            <label asp-for="State"></label>
                            <input id="state" asp-for="State" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="District"></label>
                            <input id="district" asp-for="District" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>
                </div>

                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-12 form-group">
                        <div style="width:100%">
                            <label asp-for="Observations"></label>
                            <input type="text" asp-for="Observations" class="form-control" readonly style=" background-color: #E9ECEF" />
                        </div>
                    </div>

                </div>


                <br /><br />

                <div class="form-group">

                    <a asp-action="index"  class="btn btn-rounded btn-success float-right">Voltar</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}