@model AppointmentEditModelView

@{ ViewBag.Title = "Editar Agendamento";}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Lista de Agendamentos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editar Agendamento</li>
                </ol>
            </nav><br /><br />
            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <div class="form-row text-center">
                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="TechnicianId"></label>
                            <input asp-for="TechnicianId" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="TechnicianId" class="text-danger"></span>
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="TechnicianName"></label>
                            <input asp-for="TechnicianName" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="TechnicianName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-4 form-group">
                        <div style="width:100%">
                            <label asp-for="AppointmentName"></label>
                            <input asp-for="AppointmentName" class="form-control" />
                            <span asp-validation-for="AppointmentName" class="text-danger"></span>
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-4 form-group">
                        <div style="width:100%">
                            <label asp-for="StartDate"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-4 form-group">
                        <div style="width:100%">
                            <label asp-for="ExpectedFinalDate"></label>
                            <input asp-for="ExpectedFinalDate" class="form-control" />
                            <span asp-validation-for="ExpectedFinalDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="Postcode"></label>
                            <input id="postcodeForm" asp-for="Postcode" class="form-control" />
                            <span asp-validation-for="Postcode" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="padding-top: 32px" class="col-md-2 form-group">
                        <button type="button" class="btn btn-rounded btn-primary" id="postcodeButton">
                            Buscar endereço
                        </button>
                    </div>

                </div>

                <script>

                    $(document).ready(function () {

                        $('#postcodeButton').click(function () {

                            var postcode = $('#postcodeForm').val();

                            if (postcode == null) return; //do nothing if postcode is null

                            data = {}
                            $.ajax({
                                type: 'GET',
                                url: 'https://viacep.com.br/ws/' + postcode + '/json/',
                                data: data,
                                dataType: 'json',
                                success: function (data) {

                                    $('#address').val(data.logradouro);
                                    $('#city').val(data.localidade);
                                    $('#district').val(data.bairro);
                                    $('#state').val(data.uf);

                                },
                                error: function () {
                                    alert("Código postal inválido");
                                },

                            });

                        });


                    });

                </script>

                <div class="form-row text-center">
                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="Address"></label>
                            <input id="address" asp-for="Address" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>


                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="Number"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-3 form-group">
                        <div style="width:100%">
                            <label asp-for="City"></label>
                            <input id="city" asp-for="City" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="State"></label>
                            <input id="state" asp-for="State" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="display:flex" class="col-md-2 form-group">
                        <div style="width:100%">
                            <label asp-for="District"></label>
                            <input id="district" asp-for="District" class="form-control" readonly style=" background-color: #E9ECEF" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row text-center">

                    <div style="display:flex" class="col-md-12 form-group">
                        <div style="width:100%">
                            <label asp-for="Observations"></label>
                            <input type="text" asp-for="Observations" class="form-control" />
                            <span asp-validation-for="Observations" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <br /><br />

                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left">Editar</button>
                    <a asp-action="index" asp-route-technicianId="1" class="btn btn-rounded btn-success float-right">Voltar</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}